@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

        .hover-effect::after {
            content: ' →';
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
        }
        .hover-effect:hover::after {
            opacity: 1;
            transform: translateX(0.9rem);
        }
        .hover-effect:hover {
            transform: translateX(-0.9rem);
        }
